@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat"),
       url(../fonts/Montserrat-ExtraBold.woff),
       url(../fonts/Montserrat-ExtraBold.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"),
       url(../fonts/Montserrat-Bold.woff),
       url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"),
       url(../fonts/Montserrat-SemiBold.woff),
       url(../fonts/Montserrat-SemiBold.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"),
       url(../fonts/Montserrat-Medium.woff),
       url(../fonts/Montserrat-Medium.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
       url(../fonts/Montserrat-Regular.woff),
       url(../fonts/Montserrat-Regular.woff2);
}



* {

}

:root {
  --white-color: #FFFFFF;
  --color-text-heading: #333333;
  --color-orange: #FF9900;
  --footer-bg: #222222;
  --footer-color: #CACACA;
  --footer-bg-input: #414141;
  --btn-active: #E1670E;  
}

:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

html {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.conteiner {
  max-width: 1770px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.title {
  color: var(--color-text-heading);
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.button {
  padding: 20px 38px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}



/*---HEADER---------------------------------------------*/

.header {
  background-color: var(--white-color));
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-block {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  height: 72px;
  width: 224px;
}

.header-logo__svg {
  display: block;
  height: 100%;
  width: 100%;
}

.header-nav {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav-list-item {
  display: flex;
}

.header-nav-list__item {
  margin-right: 85px;
}

.header-nav-list-item__link {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header-nav-list-item__link:hover {
  border-bottom: 2px solid var(--color-orange);
  margin-bottom: -2px;
}

.header-nav-list-item__link:focus {
  outline-offset: 5px;
}

.header-nav-list-item__link:active {
  color: var(--btn-active);
  border-bottom: var(--btn-active);
}

.header-search {
}

.header-burger {
  display: none;
}

.header-button {
  box-sizing: border-box;
}



/*--HERO-----------------------------*/

.hero {
  margin-bottom: 100px;
}
.swiper {
  height: 620px;
}
.swiper--first {
  height: 100%;
  background-image: url(../img/low-angle-photo-of-balconies-24620151.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-content {
  max-width: 890px;
  padding: 100px 0px 0px 80px;
  margin-bottom: 50px;
}

.swiper-content__title {
  margin: 0 0 24px 0;
  color: var(--white-color);
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}


.swiper-content__paragraph {
  margin: 0 0 90px 0;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}


.swiper-content__button {
  display: inline-block;
  background-color: var(--color-orange);
  padding: 24.83px 36.88px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  transition: background-color 0.5s linear;
}

.swiper-content__button:focus,
.swiper-content__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.swiper-content__button:active {
  transition-duration: 0s;
  background-color: var(--btn-active);
}

.swiper-control {
  width: 100%;
  text-align: center;
}

.swiper-control-btn-padding {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.swiper-control-btn-padding:nth-child(n+1) {
  margin-right: 10px;
}

.swiper-control-btn-padding:last-child {
  margin-right: 0;
}

.swiper-control-btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--white-color);
  border-radius: 50%;
}

/*--About-Us----------------*/

.about {
  margin-bottom: 100px;
}

.about__title {
  margin: 0 0 20px 0;
}

.about--paragraph{
  margin-top: 0;
  margin-bottom: 50px;
}

.about__paragraph {
  color: var(--color-text-heading);
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-serve {
  display: flex;
}

.about-serve__left {
  width: 49%;
  margin: 0 32px 0 0;
}

.about-serve__figure {
  display: inline-block;
  position: relative;
}

.figure-img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.about-serve-figure__caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  width: 100%;
}

.figcaption-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  
}

.figcaption-block__paragraph {
  max-width: 454px;
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.figcaption-block__button {
  display: inline-block;
  color: var(--white-color);
  border: 3px solid var(--color-orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 35px;
  transition: background-color 0.2s linear;
}

.figcaption-block__button:hover,
.figcaption-block__button:focus{
  background-color: var(--color-orange);
}

.figcaption-block__button:active {
  transition-duration: 0s;
  background-color: var(--btn-active);
  border-color: var(--btn-active);
}

.about-serve__right {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.about-serve-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #CACACA;
  padding: 7.47% 12.99% 7.47% 6.9%;
}

.about-serve-card:not(:last-child) {
  margin-bottom: 30px;
}

.about-serve-card__img {
  width: 27.54%;
}

.about-serve-card__text {
  display: flex;
  flex-direction: column;
  width: 65.22%;
}

.serve-card__title {
  color: var(--color-text-heading);
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 8px 0;
}

.serve-card__paragraph {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

/*---working------------*/

.working {
  margin-bottom: 100px;
}

.working__title {
  margin: 0 0 52px 0;
}

.working__steps {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.working-steps__item:not(:last-child) {
  margin-right: 85px;
}

.working-steps-item__link {
  color: var(--color-text-heading);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.working-steps-item__link:hover {
  color: var(--color-orange);
}

.working-steps-item__link:active {
  color: var(--btn-active);
  outline: none;
}

.working-swiper {
  display: flex;
  flex-wrap: wrap;
}

.working-swiper__left {
  width: 42.82%;
  margin-right: auto;
}

.working-swiper-left__title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.working-swiper-left__paragraph {
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.working-swiper-left__bottom {
}

.working-swiper-left-bottom__button-1 {
  background-color: var(--color-orange);
  color: var(--white-color);
  font-weight: 700;
  margin-right: 29px;
  transition: background-color 0.2s linear;
}

.working-swiper-left-bottom__button-1:hover,
.working-swiper-left-bottom__button-1:focus {
  background-color: #F7B045;
}

.working-swiper-left-bottom__button-1:active {
  transition-duration: 0s;
  background-color: var(--btn-active);
}

.working-swiper-left-bottom__button-2 {
  font-weight: 400;
  color: var(--color-text-heading);
  border: 1px solid currentColor;
  transition: background-color 0.2s linear;
}

.working-swiper-left-bottom__button-2:hover,
.working-swiper-left-bottom__button-2:focus {
  background-color: #666666;
  border-color: #666666;
  color: var(--white-color);
}

.working-swiper-left-bottom__button-2:active {
  transition-duration: 0s;
  background-color: #000000;
  border-color: #000000;
  color: var(--white-color);
}

.working-swiper__right {
  width: 49.15%;
}
.working-swiper-right-img {
  height: 100%;
  object-fit: cover;
}

/*---questions----------*/

.questions {
  margin-bottom: 100px;
}

.question-title {
  margin: 0 0 32px 0;
  color: var(--color-text-heading);
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.question-list__item {
  border-top: 1px solid #CACACA;
  padding: 31px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.question-list__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.question-list-item__title {
  margin: 0;
  color: var(--color-text-heading);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.question-list-item__button {
  max-width: 50px;
  max-height: 50px;
}

/*---footer---------------*/

.footer {
  background-color: var(--footer-bg);
}

.footer__conteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10px 50px 10px;
}

.footer-left {
  flex: 0 0 20.4%;
}

.footer-logo-link {
  display: block;
  margin-bottom: 20px;
}

.footer__logo {

}

.footer__list {
  margin-bottom: 95px;
}

.footer-list__item {
  margin-bottom: 8px;
}

.footer-list__link {
  color: var(--footer-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  outline: none;
}

.footer-list__link:hover {
  color: var(--color-orange);
}

.footer-list__link:focus {
  outline: var(--color-orange) solid 1px;
  color: var(--footer-color);
}

.footer-list__link:active {
  color: var(--btn-active);
}

.footer-social__list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 252px;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 25px;
}

.footer-social__link {
  display: block;
  width: 60px;
  height: 60px;
}

.footer-social-link-svg {
  fill: #7C7C7C;
  width: 60px;
  height: 60px;
}

.footer-social-link-svg:hover {
  fill: var(--color-orange);
}

.footer-social__link:focus,
.footer-social-link-svg:focus {
  fill: #7C7C7C;
  outline: 2px solid var(--color-orange);
}


.footer-social-link-svg:active {
  fill: var(--btn-active);
}

.footer__center {
  flex: 0 0 32.26%;
  min-width: 570px;
}

.form {
  
}

.form-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--footer-color);
  margin-bottom: 27px;
}

.form-input {
  height: 60px;
  background-color: var(--footer-bg-input);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding: 0 0 0 24px;
  margin-bottom: 24px;
  color: var(--footer-color);
}

.form-textarea {
  height: 138px;
  background-color: var(--footer-bg-input);
  color: var(--footer-color);
  font-size: 16px;
  line-height: 32px;
  padding: 14px 0 0 24px;
  border: none;
  margin-bottom: 32px;
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  background-color: #666666;
}

.form-input:active,
.form-textarea:active, {
  background-color: #666666;
  color: #FFFFFF;
}

.form-conteiner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.form-conteiner-checkbox-text {
  cursor: pointer;
}

.checkbox-span {
  color: var(--footer-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.checkbox-span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--footer-color);
}

.checkbox-span::after {
  content: "";
  opacity: 1;
  background-image: url(/img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1px;
  top: 9px;
}

.form-conteiner-checkbox {
  display: none;
}

.footer-form-btn {
  background-color: var(--color-orange);
  border: none;
  cursor: pointer;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 52px;
  margin-right: auto;
}

.footer__right {
  flex: 0 0 20.51%;
  align-self: center;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--footer-color);
}

@media (max-width: 1470px) {
  .serve-card__paragraph{
    line-height: 26px;
  }
  .figcaption-block__paragraph {
    margin-right: 10px;
  }
}

@media (min-width: 1271px) and (max-width: 1370px) {
  .header-nav-list-item {
    margin-right: 50px;
  }
  .about-serve-card {
    max-height: 200px;
  }
  .figcaption-block__paragraph {
    font-size: 14px;
    line-height: 20px;
  }
  .figcaption-block__button {
    font-size: 14px;
    line-height: 20px;
  }
  .serve-card__title {
    font-size: 20px;
    line-height: 25px;
  }
  .serve-card__paragraph{
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width:924px) and (max-width:1270px) {
  .conteiner {
    max-width: 924px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-block{
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: block;
    margin-right: auto;
  }
  .header__logo {
    margin-right: auto;
    width: 150px;
    height: 48px;
  }
  .hero {
    margin-bottom: 80px;
  }
  .swiper {
    height: 668px;
  }
  .swiper--first {
    background-image: url(../img/low-angle-photo-of-balconies-2462015_1.jpg);
  }
  .swiper-content {
    max-width: 770px;
    padding: 160px 0 0 77px;
    margin-bottom: 115px;
  }
  .swiper-content__title {
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 24px;
  }
  .swiper-content__paragraph {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .about{
    margin-bottom: 80px;
  }
  .about__title {
    margin-bottom: 12px;
  }
  .about--paragraph{
    margin-bottom: 62px;
  }
  .about-serve {
    flex-wrap: wrap;
  }
  .about-serve__left {
    width: 100%;
    height: 640px;
    margin: 0 0 32px 0;
  }
  .figure-img {
    width: 100%;
    height: 100%;
  }
  .about-serve__right{
    width: 100%;
  }
  .about-serve-card{
    padding: 65px 155px 65px 77px;
  }
  .about-serve-card__img{

  }
  .about-serve-card__text{
    width: 65.6%;
  }
  .serve-card__title{

  }
  .serve-card__paragraph{
    line-height: 32px;
  }
  .working{
    margin-bottom: 80px;
  }
  .working__steps{
    margin-bottom: 48px;
  }
  .working-swiper__left{
    width: 47.299%;
  }
  .working-swiper__right{
    width: 47.299%;
  }
  .working-swiper-right-img{
    height: 100%;
    object-fit: cover;
  }
  .working-swiper-left__paragraph{
    margin-bottom: 25px;
  }
  .working-swiper{
    align-items: stretch;
  }
  .questions{
    margin-bottom: 84px;
  }
  .question-list-item__title{
    font-size: 20px;
  }
  .footer__conteiner{
    padding: 50px 10px 50px 10px;
  }
  .footer-left{
    flex: 0 0 27.16%;
  }
  .footer__right{
    display: none;
  }
}

@media (min-width:668px) and (max-width:924px) {
  .conteiner {
    max-width: 668px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-block{
    padding-top: 10px;
    padding-bottom: 11px;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: block;
    margin-right: auto;
  }
  .header__logo {
    margin-right: auto;
    width: 150px;
    height: 48px;
  }
  .hero {
    margin-bottom: 80px;
  }
  .swiper {
    height: 662px;
  }
  .swiper--first {
    background-image: url(../img/low-angle-photo-of-balconies-2462015_1.jpg);
  }
  .swiper-content {
    max-width: 688px;
    padding: 160px 0 0 40px;
    margin-bottom: 115px;
  }
  .swiper-content__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 16px;
  }
  .swiper-content__paragraph {
    max-width: 588px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .about{
    margin-bottom: 80px;
  }
  .about__title {
    margin-bottom: 12px;
  }
  .about--paragraph{
    margin-bottom: 62px;
  }
  .about-serve {
    flex-wrap: wrap;
  }
  .about-serve__left {
    width: 100%;
    height: 650px;
    margin: 0 0 32px 0;
  }
  .figure-img {
    width: 100%;
    height: 100%;
  }
  .figcaption-block{
    padding: 34px 40px;
  }
  .figcaption-block__paragraph{
    max-width: 366px;
  }
  .about-serve__right{
    width: 100%;
  }
  .about-serve-card{
    padding: 35px 48px 35px 40px;
  }
  .about-serve-card__img{
    width: 19.59%;
  }
  .about-serve-card__text{
    width: 78.199%;
  }
  .serve-card__title{

  }
  .serve-card__paragraph{
    line-height: 32px;
  }
  .working{
    margin-bottom: 80px;
  }
  .working__title {
    margin: 0 0 50px 0;
  }
  .working__steps{
    margin-bottom: 48px;
  }
  .working-steps__item:not(:last-child){
    margin-right: 155px;
  }
  .working-swiper {
    flex-direction: column-reverse;
  }
  .working-swiper__left{
    width: 100%;
  }
  .working-swiper__right{
    width: 100%;
    max-height: 284px;
    margin-bottom: 38px;
  }
  .working-swiper-right-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .working-swiper-left__paragraph{
    margin-bottom: 25px;
  }
  .working-swiper{
    align-items: stretch;
  }
  .questions{
    margin-bottom: 84px;
  }
  .question-list__item {
    padding: 30px 0;
  }
  .question-list-item__title{
    font-size: 20px;
    max-width: 570px;
  }
  .footer__conteiner{
    padding: 50px 10px 50px 10px;
    flex-direction: column-reverse;
  }
  .footer-left{
    flex: 0 0 27.16%;
  }
  .footer__list {
    display: none;
  }
  .footer__center {
    min-width: 0;
    max-width: 541px;
    flex: none;
    margin-bottom: 49px;
  }
  .footer-form-btn {
    padding: 19px 37.5px;
  }
  .footer__right{
    display: none;
  }
}

@media (max-width: 667px) {
  .button{   
    font-size: 12px;
    line-height: 15px;
  }
  .conteiner {
    max-width: 290px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title{
    font-size: 24px;
    line-height: 29px;
  }
  .header-block{
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: block;
    margin-right: auto;
  }
  .header__logo {
    margin-right: auto;
    width: 110px;
    height: 35px;
  }
  .hero {
    margin-bottom: 60px;
  }
  .swiper {
    height: 308px;
  }
  .swiper--first {
    background-image: url(../img/low-angle-photo-of-balconies-2462015_1.jpg);
  }
  .swiper-content {
    max-width: 247px;
    padding: 60px 0 0 22px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .swiper-content__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
    text-align: center;
  }
  .swiper-content__paragraph {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 34px;
    text-align: center;
  }
  .swiper-content__button {
    font-size: 12px;
    line-height: 15px;
    padding: 12.5px 29px;
    margin-right: auto;
    margin-left: auto;
  }
  .swiper-control{
    height: 20px;
  }
  .swiper-control-btn-padding{
    width: 10px;
    height: 10px;
    vertical-align: top;
  }
  .swiper-control-btn-padding:nth-child(n+1){
    margin-right: 6px;
  }
  .swiper-control-btn{
    width: 10px;
    height: 10px;
    vertical-align: top;
  }
  .about{
    margin-bottom: 60px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about--paragraph{
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .about-serve {
    flex-wrap: wrap;
  }
  .about-serve__left {
    width: 100%;
    margin: 0 0 32px 0;
  }
  .figure-img {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
  }
  .about-serve-figure__caption{
    position: relative;
    background-color: transparent;
    color: var(--color-text-heading);
  }
  .figcaption-block{
    padding: 0px 0px;
    flex-direction: column;
  }
  .figcaption-block__paragraph{
    max-width: 100%;
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  .figcaption-block__button{
    color: var(--color-orange);
    align-self: flex-start;
    padding: 10px 41px;
    font-size: 12px;
    line-height: 15px;
  }
  .figcaption-block__button:hover{
    color: var(--white-color);
  }
  .figcaption-block__button:focus{
    color: var(--white-color);
  }
  .about-serve__right{
    width: 100%;
  }
  .about-serve-card{
    padding: 0;
    border: none;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-serve-card__img{
    width: 64px;
    height: 49px;
    margin-bottom: 12px;
  }
  .about-serve-card__text{
    width: 100%;
  }
  .serve-card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .about__paragraph{
    font-size: 14px;
    line-height: 28px;
  }
  .serve-card__paragraph{
  }
  .working{
    margin-bottom: 60px;
  }
  .working__title {
    margin: 0 0 22px 0;
  }
  .working__steps{
    margin-bottom: 16px;
  }
  .working-steps-item__link{
    font-size: 14px;
    line-height: 17px;
  }
  .working-steps__item:not(:last-child){
    margin-right: 44px;
  }
  .working-swiper {
    flex-direction: column-reverse;
  }
  .working-swiper__left{
    width: 100%;
  }
  .working-swiper-left__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 11px;
  }
  .working-swiper-left__paragraph{
    font-size: 14px;
    line-height: 28px;
  }
  .working-swiper__right{
    width: 100%;
    max-height: 284px;
    margin-bottom: 16px;
  }
  .working-swiper-right-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .working-swiper-left__paragraph{
    margin-bottom: 16px;
  }
  .working-swiper-left-bottom__button-1 {
    margin-right: 6px;
    padding: 13px 44px;
  }
  .working-swiper-left-bottom__button-2 {
    padding: 11.5px 31px;
  }
  .working-swiper{
    align-items: stretch;
  }
  .questions{
    margin-bottom: 55px;
  }
  .question-title {        
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }
  .question-list__item {
    padding: 30px 0;
  }
  .question-list-item__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .question-list-item__button{
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  .footer__conteiner{
    padding: 32px 10px 50px 10px;
    flex-direction: column-reverse;
  }
  .footer-left{
    flex: 0 0 100%;
  }
  .footer-logo-link{
    width: 131px;
    height: 42px;
    margin: 0 auto 16px auto;
  }
  .footer__list {
    display: none;
  }
  .footer-social__list {
    max-width: 153px;
    margin: auto;
  }
  .footer-social-list__item {
    width: 40px;
    height: 40px;
  }
  .footer-social-list__item:not(:last-child) {
    margin-right: 16px;
  }
  .footer-social__link{
    width: 40px;
    height: 40px;
  }
  .footer-social-link-svg {
    width: 40px;
    height: 40px;
  }
  .footer__center {
    min-width: 0;
    max-width: 541px;
    flex: none;
    margin-bottom: 49px;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }
  .form-fieldset{
    margin: 0;
  }
  .form-title {    
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }
  .form-textarea {
    margin-bottom: 25px;
  }
  .form-conteiner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-form-btn {
    padding: 12px 27px;
    margin: 0 0 11px 0;    
    font-size: 12px;
    line-height: 15px;
  }
  .checkbox-span {        
    font-size: 16px;
    line-height: 32px;
  }
  .footer__right{
    display: none;
  }
}